@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header > h1 {
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;

}

header > p {
    font-weight: lighter;
}

a {
    font-family: var(--fonte1);
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.img {
    color: white;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right bottom;
}
section.img > p {
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
